<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <!-- <a class="btn btn-ghost text-xl">SpaceTime</a> -->

    <label class="btn btn-ghost text-xl" for="create_flash"> SpaceTime </label>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
          />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<input type="checkbox" id="create_flash" class="modal-toggle" />

<div class="modal" role="dialog">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Create A New Flash Card</h3>

    <div class="divider divider-info"></div>

    <form action="/flash" method="post">
      <div class="grid">
        {% csrf_token %}
        <label for="flash_name">Flash Name:</label>
        <input
          class="input"
          type="text"
          id="flash_name"
          name="flash_name"
          required
        />
        <label for="content">Flash Content:</label>
        <input
          class="input"
          type="text"
          id="flash_content"
          name="flash_content"
          required
        />
        <button type="submit" class="btn btn-primary btn-block">Create</button>
      </div>
    </form>
  </div>
  <label class="modal-backdrop" for="create_flash">Close</label>
</div>
