{% load static %}
<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My New Endpoint</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link href="{% static 'output.css' %}" rel="stylesheet" />
  </head>
  <body class="h-full  bg-cover">
    <div class="m-8 justify-center ">
      <c-nav/>
      <c-card title="Trees" url="space"> We have the best trees </c-card>
      <c-card title="Spades" url="admin"> The best spades in the land </c-card>
    </div>
  </body>
</html>
