<div class="m-8 max-w-sm rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">
      <h2>{{ title }}</h2>
    </div>
    <p class="text-base"></p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <button class="btn" onclick="{{title}}.showModal()">Open Flash Card</button>
  </div>
</div>

<dialog id="{{title}}" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">{{ title }}</h3>
    <div class="divider divider-info">
      <p>{{ slot }}</p>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
